<div class="row">
    <div class="alert alert-danger"  style="background-color: white ;color: red">
      <i class="fas fa-exclamation-triangle" ></i> 
      Error! When saving or retrieving data. Please retry or contact to administrator.
    </div>
</div>

<!-- 
<div class="row">
    <div class="alert alert-danger">
      <i class="fas fa-exclamation-triangle"></i> 
     <strong> Error when saving or retrieving data. Please retry or contact to administrator.</strong>
    </div>
</div>
<div class="row">
    <div class="alert alert-danger"  style="background-color: white">
      <i class="fas fa-exclamation-triangle" ></i> 
     <strong style="color: red"> Error! When saving or retrieving data. Please retry or contact to administrator.</strong>
    </div>
</div> -->



<!-- <div class="card" style="color:white;margin:5px 0px 0px 11px;"  class="alert alert-danger">
    <div class="row">
        <div style="border-radius:50%;background-color: red;height:50px;width:50px;"><i class="fas fa-times" style="color:white;margin:5px 0px 0px 11px;font-size:40px;"></i></div>
        <strong style="color:red; margin:14px 0px 0px 11px" >Error when saving or retrieving data. Please retry or contact to administrator.
        </strong>
       
      </div>
  </div> -->