/*.touch:hover{
    cursor:pointer;
    color:  #262626;
    border:1px solid #a6a6a6;
}*/
.textArea{
    margin-top: 10px;
}
.fa-plus-circle{
  font-size:50px; 
    float: right;
    margin-top: 3px;
    color: #0e5bd6;
    cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; 
}
.fa-plus-circle:hover{
    
    transform:rotate(180eg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
/*new cards9*/
