
<div class="container" style="margin-top: 5%">

  <!--<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-2">
      <div class="row">
        <div class="col-8 col-sm-8 col-lg-12">
          JAVA
        </div>
        <div class="col-4 col-sm-4 col-lg-12">
          36
          </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-2">
        <div class="row">
          <div class="col-8 col-sm-8 col-lg-12">
            JAVA
          </div>
          <div class="col-4 col-sm-4 col-lg-12">
            36
            </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-2">
          <div class="row">
            <div class="col-8 col-sm-8 col-lg-12">
              JAVA
            </div>
            <div class="col-4 col-sm-4 col-lg-12">
              36
              </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-2">
            <div class="row">
              <div class="col-8 col-sm-8 col-lg-12">
                JAVA
              </div>
              <div class="col-4 col-sm-4 col-lg-12">
                36
                </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-2">
              <div class="row">
                <div class="col-8 col-sm-8 col-lg-12">
                  JAVA
                </div>
                <div class="col-4 col-sm-4 col-lg-12">
                  36
                  </div>
              </div>
            </div>
  </div>-->



<!--new carsfd-->
<div class="row mb-2 card-header">
    <span  style="font-size:20px; color:firebrick;"> Pending Questions..</span>
  </div>
<div class="card-group">
    <div class="card bg-light mr-2" style="border:1px solid gray;" [routerLink]="['/reviewq']">
      <div class="card-body text-center">
          <p class="card-text" style="font-size:20px;color:#808080">Java</p>
          <p class="card-text" style="font-size:25px;font-weight: 700;color:#ff8080">45</p>
      </div>
    </div>
    <div class="card bg-light mr-2" style="border:1px solid gray;">
        <div class="card-body text-center ">
            <p class="card-text" style="font-size:20px;color:#808080">Java</p>
            <p class="card-text" style="font-size:25px;font-weight: 700;color:#ff8080">45</p>
        </div>
      </div>
      <div class="card bg-light mr-2" style="border:1px solid gray;">
          <div class="card-body text-center">
              <p class="card-text" style="font-size:20px;color:#808080">Java</p>
              <p class="card-text" style="font-size:25px;font-weight: 700;color:#ff8080">45</p>
          </div>
        </div>
        <div class="card bg-light mr-2" style="border:1px solid gray;">
            <div class="card-body text-center ">
                <p class="card-text" style="font-size:20px;color:#808080">Java</p>
                <p class="card-text" style="font-size:25px;font-weight: 700;color:#ff8080">45</p>
            </div>
          </div>
          <div class="card bg-light mr-2" style="border:1px solid gray;">
              <div class="card-body text-center">
                  <p class="card-text" style="font-size:20px;color:#808080">Java</p>
                  <p class="card-text" style="font-size:25px;font-weight: 700;color:#ff8080">45</p>
              </div>
            </div>
            <div class="card bg-light mr-2" style="border:1px solid gray;">
                <div class="card-body text-center">
                    <p class="card-text" style="font-size:20px;color:#808080">Java</p>
                    <p class="card-text" style="font-size:25px;font-weight: 700;color:#ff8080">45</p>
                </div>
              </div>
    </div>



<!--search-->
<div class="container" style="margin-top: 5%">

    <div class="row mb-2 card-header">
        <span  style="font-size:20px;color:#007bff;"> For adding, viewing  Questions based on Skills</span>
      </div>


  <div class="row">
    <div class="col-lg-4">
      <select class="form-control" value="Select Skills">
        <option>Hibernate</option>
        <option>Spring MVC</option>
        <option>Java</option>
        <option>Java</option>
        <option>Java</option>
      </select>
    </div>
    <div class="col-lg-8">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for questions">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>




  <!-- <div >
    <div class="textArea">
    <textarea rows="5" class="form-control">Which ways are used by the Log4j and Logback frameworks in hibernate framework to support logging? 
        
        
        1. By log4j.xml file
        2. By log4j.properties
        3. Both A & B
        4. None of the above
        ANSWER: Option 3
    </textarea>
   
    </div>
  </div> -->



  <div class="col-12 col-lg-12 col-sm-12 mt-3 searchResultColumn">

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <a href="#" data-toggle="modal" data-target="#editQuestion">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <!-- <span class="badge badge-warning">Pending</span> -->
            <!-- <span style="float: right;">
              <button type="button" class="btn btn-primary btn-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-danger btn-sm rhsRejectBtn">Reject</button>
            </span> -->
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet1" aria-expanded="false"
                aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet1">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">int w = (int)888.8; Which data type value is returned by all transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <span class="rhsNoteSpan"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
                </div>
              </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
            <div class="col-12 col-sm-12 col-lg-12">
              <label class="rhsQIdLabel"># Id</label> &nbsp;
              <span class="rhsQId">33456</span>&nbsp;
              <a href="#" data-toggle="modal" data-target="#editQuestion">
                  <i class="fas fa-pencil-alt"></i>
              </a>
              <!-- <span class="badge badge-warning">Pending</span> -->
              <!-- <span style="float: right;">
                <button type="button" class="btn btn-primary btn-sm rhsApproveBtn">Approve</button>&nbsp;
                <button type="button" class="btn btn-danger btn-sm rhsRejectBtn">Reject</button>
              </span> -->
            </div>
            <div class="col-12 col-sm-12 col-lg-12 questionDef">
              Which data type value is returned by all transcendental math functions? Which of these literals can be contained in float
              data type variable?
              <span class="rhsOptionsBtnSpan">
                <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet2" aria-expanded="false"
                  aria-controls="collapseExample">
                  Options
                </button>
              </span>
            </div>
            <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet2">
              <div class="row">
                <div class="col-1 col-sm-1 col-lg-1 text-center">
                  <label>1.</label>
                </div>
                <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">int w = (int)888.8; Which data type value is returned by all transcendental math functions?</div>
              </div>
              <div class="row">
                <div class="col-1 col-sm-1 col-lg-1 text-center">
                  <label>2.</label>
                </div>
                <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
              </div>
              <div class="row">
                <div class="col-1 col-sm-1 col-lg-1 text-center">
                  <label>3.</label>
                </div>
                <div class="col-11 col-sm-11 col-lg-11"> long y = (byte)100;</div>
              </div>
              <div class="row">
                <div class="col-1 col-sm-1 col-lg-1 text-center">
                  <label>4.</label>
                </div>
                <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-12 col-lg-12">
                      <span class="rhsNoteSpan"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
                  </div>
                </div>
            </div>
          </div>







      </div>
  <div>
      <span style="float:right;"><span class="badge badge-light"> Add Questions....</span> <i class="fas fa-plus-circle" title="Add a question" [routerLink]="['/contributeQuestion']"f></i></span>
  </div>


</div>
