<div class="row " style="margin:3px; padding:10px;margin-bottom:0px;">
  <div class="h3 " style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center">Recently
    Added Skills</div>
</div>
<div class="row " style="margin:0px;padding:10px;margin-bottom:0px;">
  <div *ngIf="!recentSkillList==''">

    <div>There are no skills added in last 30 days</div>

  </div>
  <div class="col-lg-2 col-md-4" *ngFor="let recentSkill of recentSkillList">
    <div class="card card3">
      <h1 class=" text-center my-auto" style=" color: rgb(1, 191, 248); ">{{recentSkill}}</h1>
    </div>
  </div>
</div>