<div class="row "  style="margin:3px; padding:10px;margin-bottom:0px;">
    <div class="h3 "  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center">Recently Added Skills</div>
    </div>
        <div class="row "  style="margin-top:0px;">
            
            <!-- <section class="section_0" style="margin-bottom: 0px;"> -->
          <div class="col-lg-2 col-md-4">
               
                <div class="card card3">
                        <!-- <div class="card-body"> -->
                             
                          <h1 class=" text-center my-auto" style=" color: rgb(1, 191, 248); ">JAVA</h1>
                         
                          
                        <!-- </div> -->
                 </div>
    
          </div>
          <div class="col-lg-2  col-md-4">
                    <div class="card card3">
                                    <!-- <div class="card-body"> -->
                                         
                                      <h1 class=" text-center my-auto" style=" color: rgb(1, 191, 248); ">JAVA</h1>
                                     
                                      
                                    <!-- </div> -->
                             </div>
              </div>
              <div class="col-lg-2  col-md-4">
                            <div class="card card3">
                                            <!-- <div class="card-body"> -->
                                                 
                                              <h1 class=" text-center my-auto" style=" color: rgb(1, 191, 248); ">JAVA</h1>
                                             
                                              
                                            <!-- </div> -->
                                     </div>
                  </div>
                  <div class="col-lg-2  col-md-4">
                            <div class="card card3">
                                            <!-- <div class="card-body"> -->
                                                 
                                              <h1 class=" text-center my-auto" style=" color: rgb(1, 191, 248); ">JAVA</h1>
                                             
                                              
                                            <!-- </div> -->
                                     </div>
                      </div>
                      <div class="col-lg-2  col-md-4">
                                    <div class="card card3">
                                                    <!-- <div class="card-body"> -->
                                                         
                                                      <h1 class=" text-center my-auto" style=" color: rgb(1, 191, 248); ">JAVA</h1>
                                                     
                                                      
                                                    <!-- </div> -->
                                             </div>
                          </div>
        <!-- </section> -->
        
        </div>
        
    
    
    <!-- ****************************************************** -->
    
    
    
    
    
    
    <br>
    
    
    <!-- ************************************************* -->
    
    
    
    
    
    
    
    <!--card from praksah-->
    