<div class="container-fluid">
  <div class="row ">

    <div class="col-md-12 ">
      <div class="col-sm-4">
        <div class="card">


        </div>
      </div>
      
        <div class="card">
          <div class="card-header">
            <label class="h4  d-flex justify-content-center"> Recently Added Skills</label>
          </div>
          
            <span  class="text-center">Java</span>
             <span  class="text-center">Mysql</span>
            <span  class="text-center">MongoDb</span>
            <span  class="text-center">Tally</span>
            <span  class="text-center">NodeJs</span>                       
        </div>
    





    </div>



  </div>
</div>
