
#loginbox{
    margin-top: 100px;
}
#card1{
    text-align: center;font-family:Segoe UI;font-weight: 700;font-size: 25px;}
    #card2{
        padding-top: 30px;
    }
    #card3{
        padding-top:10px;text-align: center; font-size: 85%;
    }
    #card4{
    text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 700;font-size: 25px;
    }
    #card5{
    float: right; font-size: 85%; font-weight:700;position: relative;top: -10px;
    }
    #card6{
    padding:0px 0px 9px 0px;text-align: center; font-size: 85%;
    }
    #card7{
   color:red ; margin-left:19px;
    }