<div class="container">
  <div class="row">
    <div class="col-lg-1 "></div>
    <div class="col-lg-10 col-md-10 col-xl-10 ">
      <div id="loginbox" class="mainbox col-lg-6 offset-md-3 col-md-8 offset-sm-2 col-sm-12">
        <div class="card card-inverse card-info">

          <div class="card-header">
            <div class="card-title" id="card1">Login</div>

          </div>
          <div class="card-block" id="card2">
            <div style="display: none;" id="login-alert" class="alert alert-danger col-md-12"></div>
            <form id="loginform" class="" role="form" [formGroup]="form">
              <div class="form-group">
                <div class="col-lg-12">
                  <input type="text" class="form-control" name="empId" formControlName="employeeId" placeholder="Employee ID" #employeeId/>
                </div>
                <div *ngIf="form.get('employeeId').touched && form.get('employeeId').invalid">
                  <div *ngIf="form.get('employeeId').errors.required" class="danger" id="card7">Employee Id is required</div>
                </div>

                <div *ngIf="form.get('employeeId').errors.minlength" class="danger" id="card7">Employee Id must be minimum 3 characters
                </div>
                <div *ngIf="form.get('employeeId').errors.maxlength" class="danger" id="card7">Employee Id must be maximun 10 characters
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12">
                  <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password" #password/>
                </div>
                <div *ngIf="form.get('password').touched && form.get('password').invalid">
                  <div *ngIf="form.get('password').errors.required" class="danger" id="card7">Password is required</div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12">
                  <a id="btn-login" class="btn btn-primary" style="width:100%" (click)="check(employeeId.value,password.value)">Login</a>
                </div>
                <div id="card3">
                  <a href="#">Forgot password?</a>
                </div>

                <div id="card3">Don't have an account!
                  <a [routerLink]="['/signup']">Sign Up Here</a>&nbsp;
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>