
<div class="abc">
  Assessment history
</div>

<hr>
<div class="row" style="margin-top:15px;">
        <div class="col-lg-1 col-sm-12">
    
        </div>
        <div class="col-lg-10 col-sm-12">
          
          <div class="row" style="padding-bottom:15px;">
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card  card1" style="height:100%;">
                <div class="card-body">
                  <h2>Java</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                      </div>
                    </div>
                  <hr>
                </div>
              </div>
              
            </div>
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card card1 " style="height:100%;">
                <div class="card-body">
                  <h2>HTML</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                      </div>
                    </div>
                  <hr>
                </div>
              </div>
              
            </div>
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card card1" style="height:100%;">
                <div class="card-body">
                  <h2>Angular</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br><!-- <div class="testdate">Assessment yet to be taken</div> -->
                      </div>
                      <div class="testdate">Assessment yet to be taken</div>
                     <!--  <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div> -->
                      <!-- <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div> 
                      </div>-->
                    </div>
                  <hr>
                </div>
              </div>
              
            </div>
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card card1" style="height:100%;">
                <div class="card-body">
                  <h2>Java</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                      </div>
                    </div>
                  <hr>
                </div>
              </div>
              
           
            
            
            
          </div>
        </div>
        <div class="col-lg-1 col-sm-12">
    
        </div>
      </div>
      
    </div>
    
    
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
        <h4 class="modal-title">Entry Test</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            1
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardswrong">
                            2
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            3
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            4
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            5
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            6
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            7
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardswrong">
                            8
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            9
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            10
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardswrong">
                            11
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            12
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardswrong">
                            13
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            14
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            15
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardswrong">
                            16
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            17
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            18
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardsright">
                            19
                          </div>
                        </div>
                        <div class="col-lg-2 aa">
                          <div class="answercards answercardswrong">
                            20
                          </div>
                        </div>
                      </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    
      </div>
    </div>