#loginbox {
  margin-top: 120px;
}

#card1 {
  text-align: center;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 25px;
}

#card2 {
  padding-top: 30px;
}

#card3 {
  padding-top: 10px;
  text-align: center;
  font-size: 85%;
}

#card4 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#card5 {
  float: right;
  font-size: 85%;
  font-weight: 700;
  position: relative;
  top: -10px;
}

#card6 {
  padding: 0px 0px 9px 0px;
  text-align: center;
  font-size: 85%;
}

#card7 {
  width: 100%;
  color: white;
}

#card8 {
  color: red;
  margin-left: 20px;
}

.forgotPassword {
  background-color: white;
  color: #007bff;
}

.log {
  color: whitesmoke;
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  }

.container-fluid{
  background-image: url("/assets/images/im1.jpg");
  min-height:90vh;
}

.errormessage{
color: red;
}
.requestSucesss{
  color: #008000;
  font-size: 15px;
}
.requestfailure{
  color:#ff3333;
  font-size: 15px;
}
.image{
  margin-left: 200px;
  width: 45px;
}
.reset{
  color: #007bff
}

.resendButton{
  background:none;
  color: #007bff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  float:right;
}
.resendButton:focus { outline: none; }
