<div class="container-fluid">
  


  <div class="row">
    <div class="col-lg-7">
      <br><br>
      <h1 class="log">Test your skills with tShell...</h1>
    </div>
    <div class="col-lg-4 col-sm-12">

      <div id="loginbox" class="mainbox">
        <div class="card card-inverse card-info">

          <div class="card-header">
            <div class="card-title" id="card1">Login</div>

          </div>
          <div class="card-block" id="card2" >
            <div style="display: none;" id="login-alert" class="alert alert-danger col-md-12"></div>
              <div *ngIf="!success">
              <div class="col-12">
                  <div class="alert alert-danger">
                    Invalid Employee Id or Password!
                  </div>
              </div>
              </div>
            <div *ngIf="error">
              <div>
              <app-error></app-error>
              </div>
            </div>
            <form [formGroup]="form">
              <div class="form-group">
                <div class="col-lg-12">
                  <input type="text" class="form-control" formControlName="employeeId" name="employeeId" placeholder="Employee ID" #employeeId/>
                </div>
                <div *ngIf="form.get('employeeId').touched && form.get('employeeId').invalid">
                  <div *ngIf="form.get('employeeId').errors.required" class="danger" id="card8">
                    Employee ID is required</div>
                    <div *ngIf="form.get('employeeId').errors.pattern" class="danger" id="card8">Employee ID should be digits.</div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12">
                  <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password" #password/>
                </div>
                <div *ngIf="form.get('password').touched && form.get('password').invalid">
                  <div *ngIf="form.get('password').errors.required" class="danger" id="card8">
                    Password is required</div>

                </div>
              </div>
              <div class="form-group">

                <div class="col-lg-12"><button id="btn-login" class="btn btn-ts-primary" id="card7" [disabled]="!form.valid" (click)="check(employeeId.value, password.value)"> Login</button>

                </div>
               <!--  <div style="float: right; font-size: 100%;" class="btn forgotPassword" data-toggle="modal" data-target="#forgotModal">Forgot password?
                </div> -->
                <div style="float: right;padding-right: 12px;cursor: pointer;" id="card3" data-toggle="modal" data-target="#forgotModal">
                    <a style="color:#007bff">Forgot password?</a>&nbsp;
              </div>
                <!--  modal for forgot password -->
                <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div *ngIf="!status">
                        <div class="modal-header">
                          <h6 class="modal-title" id="forgotModalLabel">Forgot Password?</h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="forms">
                            {{message}}
                            <div class="form-group">
                              <label class="col-form-label"></label>
                              <input type="text" class="form-control" formControlName="employeeid" placeholder="Employee Id" #employeeid>
                              <div *ngIf="forms.get('employeeid').touched && forms.get('employeeid').invalid">
                                <div *ngIf="forms.get('employeeid').errors.required" class="danger" style="color:red">Employee Id is required
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-form-label"></label>
                              <input type="text" class="form-control" formControlName="email" placeholder="Email" #email>
                              <div *ngIf="forms.get('email').touched && forms.get('email').invalid">
                                <div *ngIf="forms.get('email').errors.required" class="danger" style="color:red">Email is required</div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;&nbsp;
                              <button type="button" class="btn btn-primary" (click)="sendMail(employeeid.value,email.value)" [disabled]="!forms.valid">Send mail</button>


                            </div>
                          </form>
                        </div>

                      </div>
                      <div *ngIf="status">
                        <div class="modal-header">


                          <h5 class="modal-title" id="forgotModalLabel">Mail Sent</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--  end of modal -->


                <div id="card3">Don't have an account!
                  <a [routerLink]="['/signup']" style="color:#007bff">Signup Here</a>&nbsp;
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-sm-12"></div>

  </div>

</div>




