<div class="container">
  <!--  <div class="alert alert-success" style="text-align: center;">
      <div data-dismiss="alert">Succcessfully Registered! Go to Login Page</div>
  </div> -->
  <div class="row">
    <div class="col-lg-1 "></div>
    <div class="col-lg-10 col-md-10 col-xl-10 ">

      <div id="signupbox" style=" margin-top: 30px;" class="mainbox col-lg-6 offset-md-3 col-md-8 offset-sm-2">
        <div class="card card-inverse card-info">
          <div class="card-header">
            <div class="card-title" id="card4">Sign Up</div>
            
          </div>
          <div class="card-block">
            <form [formGroup]="form">
              <div class="form-group">
                <br>

                <div class="form-group">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" formControlName="empId" placeholder="Employee ID" #employeeId/>
                    <div *ngIf="form.get('empId').touched && form.get('empId').invalid">
                      <div *ngIf="form.get('empId').errors.required" class="danger" style="color:red">Employee ID is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" formControlName="username" placeholder="Name" #name/>
                    <div *ngIf="form.get('username').touched && form.get('username').invalid">
                      <div *ngIf="form.get('username').errors.required" class="danger" style="color:red">Name is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email" #email/>
                    <div *ngIf="form.get('email').touched && form.get('email').invalid">
                      <div *ngIf="form.get('email').errors.required" class="danger" style="color:red">Email is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" #password />
                     
                    <div *ngIf="form.get('password').touched && form.get('password').invalid">
                      <div *ngIf="form.get('password').errors.required" class="danger" style="color:red">Password is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12">
                    <input type="password" class="form-control" appConfirmEqualValidator="password" formControlName="confirmPassword" placeholder="Confirm Password"
                      #confirmPassword/>
                    <div *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid">
                      <div *ngIf="form.get('confirmPassword').errors.required" class="danger" style="color:red">Password is required</div>
                      <div *ngIf="form.get('confirmPassword').errors.minlength" class="danger" style="color:red">Password must be minimum 2 characters
                      </div>
                      <div *ngIf="form.get('confirmPassword').errors.maxlength" class="danger" style="color:red">Password must be maximun 10 characters
                      </div>
                      <div *ngIf="form.get('confirmPassword').errors.cannotContainSpace" class="danger" style="color:red">Password should not be any space
                      </div>
                      <div class="help-block" *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').errors?.notEqual" style="color: red">
                        Password and confirm password does not match
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div id="card6"></div>
                  <div class="col-lg-12"><button id="btn-login" href="#" class="btn btn-primary" (click)="signup(employeeId.value,name.value,email.value,password.value,confirmpassword.value)"
                      style="width:100%" value="submit" [routerLink]="['/login']"  [disabled]="!form.valid">Sign Up</button></div>

                  <br>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
