<h2>
    tSHELL
</h2>
<hr>





<div class="container">

    <!-- Trigger the modal with a button -->
   Add Skill <i type="button" class="btn btn-info fa fa-plus" data-toggle="modal" data-target="#myModal"></i>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                 
                    <h4>
                        Add Skill
                    </h4>
                    <hr>
                    <button type="button" class="close" data-dismiss="modal"> <i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">

                    <div class="container ">

                        <form [formGroup]="addskillform">
                            <!-- starting of the form -->
                            <div class="form-group" >

                                <!-- starting of a row -->
                                <div class="row">
                                   
                                    <div class="col-lg-4"> Name:</div>
                                    <div class="col-lg-5"> </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-2"></div>
                                </div> <!-- ending of a row -->


                                <!-- starting of a row -->
                                <div class="row">
                                    
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" formControlName="skillName" placeholder="Enter a Name" #skillName>
                                        <div *ngIf="addskillform.get('skillName').touched && addskillform.get('skillName').invalid">
                                                <div *ngIf="addskillform.get('skillName').errors.required" class="alert" style="color:red;">* Skill Name is required</div>
                                                <div *ngIf="addskillform.get('skillName').errors.minlength" class="alert" style="color:red;"> Skill Name must be minimum 2
                                                    characters</div>
                                                <div *ngIf="addskillform.get('skillName').errors.maxlength" class="alert" style="color:red;"> Skill Name must be maximun 10
                                                    characters</div>
                    
                                            </div>
                                    </div>
                                  
                                </div> <!-- ending of a row -->
                            </div>
                               


                                <!-- starting of a row -->
                                <div class="form-group" >

                                <div class="row">
                                
                                    <div class="col-lg-4"> Add Topics:</div>
                                    <div class="col-lg-8"> </div>
                                   
                                </div> <!-- ending of a row -->



                                <div class="row">
                           
                                    <div class="col-lg-11">
                                        <input type="text" class="form-control" placeholder="Enter Topic">
                                
                                     
                                    </div>

                                    <div class="col-lg-1">
                                       <button class="btn btn-secondary" onclick="add()"><i class="fa fa-plus"></i></button> 
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col lg 2"></div>
                                    <div class="col lg 1"></div>
                                    <div class="col lg 5">
                                        <button class="btn btn-primary"[disabled]="!addskillform.valid">Add Skill</button>

                                    </div>
                                    <div class="col lg 2"></div>
                                    <div class="col lg 2"></div>

                                </div>
                            </div>
                        </form>



                    </div>
                </div>

               <!--  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>  -->
            </div>

        </div>
    </div>

</div>



<br>
<br>







