<h2>
 tSHELL
</h2>
<hr>

<div class="container addSkillContainer">
<br>
    <h4>
       Add Skill
       </h4>
       <hr>


  <form >
      <div class="form-group">
  <div class="row">
    
    <div class="col-lg-2"></div>
    <div class="col-lg-2"> Skil Name:</div>
    <div class="col-lg-4 " >
          <input type="text" class="form-control" placeholder="Enter a Name">
    </div>  
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2"></div>
  
  </div>
  <br>
  <div class="row">
    
      <div class="col-lg-2"></div>
      <div class="col-lg-2"> Add Topics:</div>
   
      <div class="col-lg-4 "  id="fooBar">
     <!-- <input type="text" class="form-control" placeholder="Enter Topic"> -->
     
     
     <div class="control-group" id="fields">
      <div class="controls"> 
          <form role="form" autocomplete="off">
              <div class="entry input-group col-xs-3">
                  <input class="form-control" name="fields[]" type="text" placeholder="Enter Topic" />
                <span class="input-group-btn">
                      <button class="btn btn-success btn-add" type="button">
                          <span class="fa fa-plus"></span>
                      </button>
                  </span>
              </div>
          </form>
      <br>
      </div>
  </div>
    	


    <br> </div>  
     

      <div class="col lg 2">
            
         
        </div>
      <div class="col lg 2">
         <!--    <button class="btn btn-secondary" onclick="add()"><i class="fa fa-plus"></i>Add more topics</button>  -->
      </div>
    
    </div>

    <div class="row">
        <div class="col lg 2"></div>
        <div class="col lg 1"></div>
        <div class="col lg 5">
            <button class="btn btn-success" ><i class="fa fa-plus-circle"></i>Add Skill</button>
            
        </div>  
        <div class="col lg 2"></div>
        <div class="col lg 2"></div>
      
    </div>
  </div>
</form>

    
        
</div>

