<h2>
    tSHELL
</h2>
<hr>

<div class="container">
    <div class="row">

        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <div class="container addSkillContainer">
                <br>
                <h4>
                    Add Skill
                </h4>
                <hr>


                <form>    <!-- starting of the form -->
                    <div class="form-group">

                        <!-- starting of a row -->

                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3"> Skil Name:</div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" placeholder="Enter a Name">
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2"></div>
                        </div>    <!-- ending of a row -->

                        <br>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3"> Add Topics:</div>
                            <div class="col-lg-5">
                                <!-- <input type="text" class="form-control" placeholder="Enter Topic"> -->
                                <div class="control-group" id="fields">
                                    <div class="controls">
                                        <div class="topics">
                                            <div class="entry input-group col-xs-3">
                                                <input class="form-control" name="fields[]" type="text" placeholder="Enter Topic" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success btn-add" type="button">
                                                        <span class="fa fa-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>



                                <br>
                            </div>


                            <div class="col lg 2">


                            </div>
                            <div class="col lg 2">
                                <!--    <button class="btn btn-secondary" onclick="add()"><i class="fa fa-plus"></i>Add more topics</button>  -->
                            </div>

                        </div>

                        <div class="row">
                            <div class="col lg 2"></div>
                            <div class="col lg 1"></div>
                            <div class="col lg 5">
                                <button class="btn btn-success"><i class="fa fa-plus-circle"></i>Add Skill</button>

                            </div>
                            <div class="col lg 2"></div>
                            <div class="col lg 2"></div>

                        </div>
                    </div>
                </form>



            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>