.card{
    box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.20);
}
.card3{
    margin:10px; 
    height:140px;
}
.icon{
    padding-top:20px;
    color: #05b0ff; 
    font-size: 26px;
}
.number{
    margin-bottom: 0px;
    margin-top:6px;
    font-size: 66px;
    font-weight:400;
}
.text{
    margin-top:0px;
    margin-bottom:16px;
    color: #888888;
    font-size:14px;
}
.card2{
    padding:10px;
}