
<div class=" container-fluid ">
         <div class=" h3 font-weight-bold" style="padding-left:10px; ">
                Dashboard
        </div>
        <div *ngIf="!error">
        <div class="row">
           
                <div class=" col-lg-3 col-md-6 col-12">
                        <div class="card card-app-summary" >
                                <i class="fa fa-cogs text-center icon" ></i>
                                <div class=" text-center number" >{{skillCount}}</div>
                                <div class="card-text text-center font-weight-bold text">SKILLS</div>
                        </div>
                </div>
                
              <div class=" col-lg-3 col-md-6 col-12">
                        <div class="card card-app-summary" >
                                <i class="fa fa-pen text-center " style="padding-top:20px;color: #14ac00; font-size: 26px"></i>
                                <div class=" text-center number" >{{assessmentCount}}</div>
                                <div class="card-text text-center font-weight-bold text">ASSESSMENTS</div>
                        </div>
                </div>
                
                <div class=" col-lg-3 col-md-6 col-12">
                        <div class="card card-app-summary" >
                                <i class="fa fa-users text-center " style="padding-top:20px;color: #360fe4; font-size: 26px"></i>
                                <div class=" text-center number" >{{userCount}}</div>
                                <div class="card-text text-center font-weight-bold text">USERS</div>
                        </div>
                </div>
                
                <div class=" col-lg-3 col-md-6 col-12">
                        <div class="card card-app-summary" >
                                <i class="fa fa-question-circle text-center " style="padding-top:20px;color: #e61111; font-size: 26px"></i>
                                <div class=" text-center number" >{{questionCount}}</div>
                                <div class="card-text text-center font-weight-bold text">QUESTIONS</div>
                        </div>
                </div>
        </div>
        </div>
        <div *ngIf="error">
                        <div class="error-padding-top">
                            <app-error></app-error>
                        </div>
                    </div>
        
      
        <!-- ************************************ -->
        <div class="row" >
                <div class=" col-lg-4 ">
                        <app-most-searched-skills></app-most-searched-skills>
                </div>
                <div class="col-lg-4 ">
                         <app-questiongraph></app-questiongraph>
                          
                   </div>
           
                   <div class="col-lg-4 ">
                       
                   
                            <app-top-accessed-tests></app-top-accessed-tests>
         
        </div>
        </div>
        
      
        <!-- ********************************************** -->
     
        <app-recently-added-skills></app-recently-added-skills>
 