<div class="container-fluid bg-light">
              <br>
              
<div class="row">
              
 <div class=" col-lg-5 border border-light">
         

<app-most-searched-skills>   </app-most-searched-skills>
</div>
<div class=" col-lg-2"></div>
<div class=" col-lg-5 ">
<app-questiongraph></app-questiongraph>
</div>
</div>
<br>
<br>
<div class="row">
            
<div class=" col-lg-5 ">
<app-test></app-test>
</div>
<div class=" col-lg-2"></div>

<div class=" col-lg-5 ">
<app-recently-added-skills></app-recently-added-skills>
</div>
</div>
</div>
<br>
<br>


