<div class="container">
  <div *ngFor="let number of [1,2,3]">
    <div class="card">
      <div class="card-header">
        {{number}}. A train running at the speed of 60 km/hr crosses a pole in 9 seconds. What is the length of the
        train?
        <span class="checkBox">
          <input type="checkbox">
        </span>
      </div>
      <div class="card-body">
        <div><span class="option">1.</span> 120 metres</div>
        <div><span class="option">2.</span> 180 metres</div>
        <div><span class="option">3.</span> 324 metres</div>
        <div><span class="option">4.</span> 150 metres</div>
      </div>
      <div class="card-footer">
        <span class="answer">Answer:</span> Option <span class="correctOption">4</span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header invalid-alert">
      <span>Question can't be empty!</span>
      <span class="checkBox">
        <input type="checkbox">
      </span>
    </div>
    <div class="card-body">
      <div><span class="option">1.</span> While</div>
      <div><span class="option">2.</span> For</div>
      <div><span class="option">3.</span> For Each</div>
      <div><span class="option">4.</span> None of the above</div>
    </div>
    <div class="card-footer">
      <span class="answer">Answer:</span> Option<span class="correctOption">2</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      5. What shape is the moon?
      <span class="checkBox">
        <input type="checkbox">
      </span>
    </div>
    <div class="card-body">
      <div><span class="option">1.</span> Round</div>
      <div><span class="option">2.</span> Square</div>
      <div class="invalid-alert"><span class="option ">3.</span>Option should not be empty.</div>
      <div><span class="option">4.</span> None of the above</div>
    </div>
    <div class="card-footer">
      <span class="answer">Answer:</span> Option <span class="correctOption">1</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      6. Which one of these is a conditional statement?
      <span class="checkBox">
        <input type="checkbox">
      </span>
    </div>
    <div class="card-body">
      <div><span class="option">1.</span> for</div>
      <div><span class="option">2.</span> while</div>
      <div><span class="option">3.</span> do while</div>
      <div><span class="option">4.</span> None of the above</div>
    </div>
    <div class="card-footer invalid-alert">
      "Answer should not be Empty"<span class="correctOption"></span>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      7. The moon is square?
      <span class="checkBox">
        <input type="checkbox">
      </span>
    </div>
    <div class="card-body">
      <div><span class="option">1.</span> True</div>
      <div><span class="option">2.</span> False</div>
    </div>
    <div class="card-footer">
      <span class="answer">Answer:</span> Option <span class="correctOption">2</span>
    </div>
  </div>

  <div class="col-12 text-center action">
    <button type="submit" class="btn btn-primary" (click)="confirm()">Confirm</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" (click)="abort()">Abort</button>
  </div>
  <div></div>
</div>