.card{
    margin-top:10px; 
    margin-bottom:10px;
    
}
.container { 
    padding-top: 65px; 
}
.card-header{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.card-body{
    margin-left: 20px ;
}
.action{
    margin-top:50px;
    margin-bottom: 50px;
}
.answer{
    color:#006600;
    font-weight: 400;
}
.option{
    color: #07C;
    font-weight: 500;
}
.correctOption{
    color:#1a1a1a;
    font-weight: 500;
}
.checkBox{
    float: right;
    width: 25px;
    height:25px;
}
.invalid-alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}