.card{
    margin-top:10px; 
    margin-bottom:10px;
    
}
.container { 
    padding-top: 65px; 
}
.card-header{
    cursor: pointer;
}
.card-body{
    margin-left: 20px ;
}
.action{
    margin-top:50px;
    margin-bottom: 50px;
}
.answer{
    color:#006600;
    font-weight: 400;
}
.option{
    color: #07C;
    font-weight: 500;
}
.correctOption{
    color:#1a1a1a;
    font-weight: 500;
}
.error{
    float: right;
    font-weight: 50;
    font-size: 18px;
    color: #ff4d4d;

}
.invalid-alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-weight: 500;
}
.actions{
    padding-left: 10px;
}
.btn-ts-sm{
    margin-top: 15px;
}