.card{
    border: none;
    padding-top:10px; 
}

.card-header{    
    background-color: #343a40!important;
    color: white;
}

.card-body,.card-header{
    border: 1px solid rgba(0,0,0,.125);
}

.card-footer{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
}

.barWrapper{
    padding-bottom: 10px;
}

.progress-bar{
    background-color: #343a40;
}


.unanswered-legend-buttons {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-weight: 450;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 20px;
    height: 20px;
   
    color: grey;
}
  
.legends{
    align-items: center;
    vertical-align: middle;
}
