.basic{
    border: 1px solid black;
    padding-top: 20px;
    padding-left:50px;
}


.answered-legend-buttons {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1.5px solid #28a745;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 33px;
    height: 35px;
    margin-left: 5px;
    margin-right: 6px;
    margin-bottom: 10px;
    color: #28a745;
    background-color: transparent;
  }
  
  .unanswered-legend-buttons {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-weight: 450;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1.4px solid grey;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 33px;
    height: 35px;
    margin-left: 5px;
    margin-right: 6px;
    margin-bottom: 10px;
    color: grey;
    background-color: transparent;
    cursor: pointer;
  }
  