<div class="container-fluid reviewQuestionsContainer">
  <h1 class="revQuestionHeader">Review Questions</h1>

  <div class="row baseRow">
    <div *ngIf="this.message != 'undefined'" class="col-12 col-sm-12 col-lg-6 mt-2 lhsMessageCol text-center">
     Nope<br> No Questions Left for Review
    </div>
    <div *ngIf="this.message == 'undefined'" class="col-12 col-sm-12 col-lg-6 mt-2 lhsCol">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-12 mt-2">
          <label># Id</label> : {{question.id}}&nbsp;
          <a href="#" data-toggle="modal" data-target="#editQuestion">
            <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="edit question"></i>
          </a>
          <div class="modal fade" id="editQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <textarea style="height: 250px;" class="form-control" rows="3" [(ngModel)]="question.question"></textarea>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-ts-cancel" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-ts-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-12">
          {{question.question}}
        </div>
      </div>

      <div class="row mt-2" style="padding-right:16px;padding-left:16px;">
        <span class="badge badge-primary skillBadge mr-2">{{skillName}}</span>
        <span *ngFor="let topic of question.topicList; let index = i" class="badge badge-secondary topicBadge mr-1">{{topic.name}}</span>
      </div>

      <div class="row mt-4" style="padding-right:16px;padding-left:16px;">
        <label>Options (Max 5)</label>&nbsp;
        <button class="btn btn-ts-primary  btn-sm ml-auto addOptionBtn" data-toggle="modal" data-target="#addOption">
          <i class="fas fa-plus " data-toggle="tooltip" data-placement="top" title="add option"></i>
        </button>


        <!----------Adding new option-----------Adding new option---------------Adding new option---------------Adding new option---------------------Adding new option-----------------------Adding new option-------------->
        <div class="modal fade" id="addOption" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea style="height: 120px;" class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Add new Option ..." [(ngModel)]="description"></textarea>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-ts-cancel" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-ts-primary" (click)="addOption()">Save changes</button>
              </div>
            </div>
          </div>
        </div>


      </div>

      <!------------------Option List ----------------------------------------------------------------------------------------------------------------->
      <div class="row mt-2" *ngFor="let option of optionList ; let i = index">
        <div class="col-1 col-sm-1 col-lg-1 text-center">
          <label>{{i+1}}.</label>
        </div>
        <div class="col-8 col-sm-8 col-lg-8">
          {{option.description}}
        </div>
        <div class="col-1 col-sm-1 col-lg-1">
          <a href="#" data-toggle="modal" data-target="#{{option.id}}">
            <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="edit option"></i>
          </a>

          <div class="modal fade" id="{{option.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <textarea style="height: 120px;" class="form-control" id="exampleFormControlTextarea1" rows="3"
                    [(ngModel)]="option.description"></textarea>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-ts-cancel" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-ts-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--****************delete option*****************-->
        <div class="col-1 col-sm-1 col-lg-1">
          <a href="#" (click)="getselectedoption(option.id);" data-id="option.id" data-toggle="modal"  data-target="#confirmmodal" 
          style="cursor: pointer;" >
          <i class="far fa-trash-alt" ></i>
        </a>
        </div>
        <!--delete confirmation modal-->
        <div   class="modal " id="confirmmodal"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  >
          <div class="modal-dialog " role="document">
            <div class="modal-content">
             
              <div class="modal-body">
              Are you sure you want to delete the option?
              </div>
              
              <div class="modal-footer">
                <button  type="button" class="btn btn-ts-cancel" data-dismiss="modal" >No</button>
                
                <button type="button" class="btn btn-ts-cancel" (click)="deleteoption(deleteOptionId);" data-toggle="modal"  data-target="#myModal1" data-dismiss="modal" >Yes</button>
                
              </div>
            </div>
          </div>
        </div>

        <div  *ngIf="deleteOptionStatus==true" class="modal " id="myModal1"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
             
              <div class="modal-body">
                Option deleted
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-ts-cancel" data-dismiss="modal">Close</button>
               
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="option.answer == true " class="col-1 col-sm-1 col-lg-1">
          <input type="checkbox" checked>
        </div>
        <div *ngIf="option.answer == false " class="col-1 col-sm-1 col-lg-1">
          <input type="checkbox">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12 col-sm-12 col-lg-12">
          <span class="lhsNoteSpan">
            <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Correct answers are checked.</span>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-sm-12 col-lg-12 ">
          <span class="lhsApproveRejectBtnSpan">
            <button type="button" class="btn btn-ts-primary btn-sm lhsApproveBtn" (click)="approveQuestion(question.id)">Approve</button>&nbsp;
            <button type="button" class="btn btn-ts-danger btn-sm lhsRejectBtn" (click)="rejectQuestion(question.id)">Reject</button>
          </span>

        </div>
      </div>

      <div class="row mt-1 mb-1">
        <div class="col-12 col-sm-12 col-lg-12">
          <span class="lhsNoteSpanII">Please approve or reject to move to next question.</span>
        </div>
      </div>

      <!------------  These are navigation buttons which are temprorily not used ------------------------------------------------------\>
        <div class="row mt-3 mb-5">
        <div class="col-6 col-sm-6 col-lg-6 preQuestionCol">
          <button type="button" class="btn btn-ts-primary preQuestionBtn">
            <i class="fas fa-angle-double-left"></i>
          </button>
        </div>
        <div class="col-6 col-sm-6 col-lg-6 nxtQuestionCol">
          <button type="button" class="btn btn-ts-primary nxtQuestionBtn">
            <i class="fas fa-angle-double-right"></i>
          </button>
        </div>
      </div> --------------------------------------------------------------------------------------------------------------------->

    </div>


    <div class="col-12 col-sm-12 col-lg-6 mt-2 rhsCol">

      <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search for existing questions" aria-label="Recipient's username"
              aria-describedby="basic-addon2" [(ngModel)]="searchQuery">
            <div class="input-group-append">
              <span class="input-group-text searchSpan" id="basic-addon2" (click)="searchQ();">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-12 col-sm-12 mt-3 searchResultColumn">

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet1"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet1">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">int w = (int)888.8; Which data type value is
                returned by all transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1 text-center">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-info">Approved</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet2"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet2">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet3"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet3">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm ">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm ">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet4"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet4">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm ">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm ">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet5"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet5">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">int w = (int)888.8; Which data type value is
                returned by all transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet6"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet6">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet7"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet7">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet8"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet8">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet9"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet9">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 existingQuestion">
          <div class="col-12 col-sm-12 col-lg-12">
            <label class="rhsQIdLabel"># Id</label> &nbsp;
            <span class="rhsQId">33456</span>&nbsp;
            <span class="badge badge-warning">Pending</span>
            <span style="float: right;">
              <button type="button" class="btn btn-ts-primary btn-ts-sm rhsApproveBtn">Approve</button>&nbsp;
              <button type="button" class="btn btn-ts-danger btn-ts-sm rhsRejectBtn">Reject</button>
            </span>
          </div>
          <div class="col-12 col-sm-12 col-lg-12 questionDef">
            Which data type value is returned by all transcendental math functions? Which of these literals can be
            contained in float
            data type variable?
            <span class="rhsOptionsBtnSpan">
              <button class="btn btn-link btn-sm rhsOptionsBtn" type="button" data-toggle="collapse" data-target="#optionSet10"
                aria-expanded="false" aria-controls="collapseExample">
                Options
              </button>
            </span>
          </div>

          <div class="col-12 col-sm-12 col-lg-12 collapse optionList" id="optionSet10">
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>1.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">int w = (int)888.8; Which data type value is returned by all
                transcendental math functions?</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>2.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte x = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>3.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11 font-weight-bold"> long y = (byte)100;</div>
            </div>
            <div class="row">
              <div class="col-1 col-sm-1 col-lg-1">
                <label>4.</label>
              </div>
              <div class="col-11 col-sm-11 col-lg-11">byte z = (byte)100L;</div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <span class="rhsNoteSpan">
                  <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Answers are in bold text</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>