<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="background-color: #fbfbfb">
        <div class="card-body">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <h3>Adding question for "Angular" </h3>
            <div>
              <label>Topics</label>
              <select formControlName="topics" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>


            <div class="md-form">
              <label for="form10">Question</label>
              <i class="fa fa-pencil prefix"></i>
              <textarea type="text" id="form10" class="md-textarea form-control" rows="10" formControlName="question"></textarea>

            </div>

            <div class="row">
              <div class="col-lg-10 col-sm-10  col-md-10 col-9 " formArrayName="options">
                <label style="margin-right:4px; ">Add Options </label>
                <span>
                  <button (click)="addOption()" class="btn btn-primary" style="margin-top:3px;padding-bottom: 0px;padding-top: 0px;padding-left: 4px;padding-right: 4px; zoom:0.8">
                    <i class="fas fa-plus"> </i>
                  </button>
                </span>
                <div *ngFor="let option of options.controls|slice:0:5; let i=index">
                  <span class="input-group-append" style="">
                    <input type="text" [formControlName]="i" class="form-control" style="margin-top:3px;padding-bottom: 0px;padding-top: 0px;padding-left: 4px;padding-right: 4px; ">
                    <button (click)="removeOption(i)" class="btn btn-danger btn-sm">
                      <i class="fas fa-minus"></i>
                    </button>
                  </span>

                </div>

              </div>

              <div class="col-lg-2 col-sm-2 col-md-2 col-3" formArrayName="answers" style="text-align: center ; ">
                <label style="padding-top: 10px">Correct </label>
                <div *ngFor="let option of answers.controls|slice:0:5; let i=index">
                  <label>
                    <input type="checkbox" [formControlName]="i" style="zoom: 2; ">
                  </label>
                </div>
              </div>
            </div>


            <button type="submit" style="margin-top: 3px;" class="btn btn-primary" style="float: right">Add Question</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="card" style="margin-top: 10px;background-color: #fbfbfb">
    <form [formGroup]="uploadForm" (ngSubmit)="upload()">
      <div class="form-group">
        <label for="file">Want to upload Questions in bulk?
          Upload your questions as in the
          <a href="./assets/Questions Format.csv">template</a> format.</label>
        <input type="file" formControlName="csvFile" class="form-control" accept=".csv" (change) = "onSelectFile($event)" style="height: 100%">
        <button type="submit" style="margin-top: 2px;" [disabled]="!uploadForm.valid" class="btn btn-primary">Upload</button>
      </div>
    </form>
  </div>
</div>
<hr>


<p>
  Form Value: {{ profileForm.value | json }}
</p>