<!-- Tabs -->
<section id="tabs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Upload a Question</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Upload Multiple Questions</a>

          </div>
        </nav>
        <div class="tab-content " id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="questionForm">
                  <h3>Adding question for "Java" </h3>
                  <div>
                    <label>Topics</label>
                    <select formControlName="topic" class="form-control" name="topic" id="topic">
                      <option>Spring</option>
                      <option>Hibernate</option>
                      <option>OOPS</option>
                      <option>Exception Handling</option>
                      <option>JDBC</option>
                    </select>
                  </div>
                  <div class="md-form">
                    <label for="form10">Question</label>
                    <i class="fas fa-edit"></i>
                    <textarea type="text" id="form10" class="md-textarea form-control" name="question" rows="10"
                      formControlName="question"></textarea>
                    <div *ngIf="questionForm.get('question').touched && questionForm.get('question').invalid">
                      <div *ngIf="questionForm.get('question').errors.required" class="alert alert-danger">Question is
                        required
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-10 col-sm-10  col-md-10 col-9 " formArrayName="options">
                      <label class="addOption">Add Options </label>
                      <span>
                        <button (click)="addOption()" class="btn btn-ts-primary" [disabled]="count==4" style="margin-top:3px;padding-bottom: 0px;padding-top: 0px;padding-left: 4px;padding-right: 4px; zoom:0.8">
                          <i class="fas fa-plus"> </i>
                        </button>
                      </span>
                      <div *ngFor="let option of options.controls; let i=index">
                        <span class="input-group-append">
                          <textarea [formControlName]="i" class="form-control" name="options" [required]="'!options.valid'"
                            rows="3" id="optionText">
                            </textarea>
                          <i class="far fa-trash-alt" (click)="removeOption(i)" id="optionButton"></i>
                        </span>
                      </div>
                      <span *ngIf="count==4">
                        <span style="color:red">*</span>Max 5 Options allowed</span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-3" formArrayName="solution">
                      <label style="text-align: center;">Answer </label>
                      <div *ngFor="let option of solution.controls; let i=index" class="row align-items-center justify-content-center checkbox-container">
                        <label>
                          <input type="checkbox" [formControlName]="i" name="solution" class="checkmark " (change)="check($event)">
                        </label>
                      </div>
                    </div>
                  </div>
                  <button type="submit" style="margin-top: 3px;" (click)="onSubmit()" class="btn btn-ts-primary addButton"
                    style="float: right" [disabled]="!(questionForm.valid && isChecked==true)">Add Question</button>
                </form>
              </div>
            </div>
          </div>



          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="card">
              <h3 class="uploadText">Want to upload Questions in bulk?<div> Upload your questions as in the
                  <a href="{{templateUrl}}">template</a> format.</div>
              </h3>
              <form [formGroup]="uploadForm" (ngSubmit)="upload()">
                <h5 *ngIf="fileExtensionError" class="alert alert-danger row align-items-center justify-content-center" >{{fileExtensionMessage}}</h5>
                <div class="form-group upload row align-items-center justify-content-center">
                  <input type="file" formControlName="csvFile" accept=".csv" (change)="onSelectFile($event)" style="height: 100%">
                  <span> <button type="submit" style="margin-top: 2px;" [disabled]="!uploadForm.valid || fileExtensionError" class="btn btn-ts-primary ">Upload</button></span>
              </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<!-- ./Tabs -->