.carousel-item {
  height: 91vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.textcustomize{
  font-size:50px;
  height: 90px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  opacity: 0.9;
  border-radius: 25px;
}


/* button */

.takeTest {
  background-color: #007BFF;
  color:white;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-weight: bolder;
  margin-bottom: 205px;
}

.takeTest:hover {
  /* border: 2px solid black; */
  color: white;
 
}
@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@media screen and (min-width: 600px) {
  .textcustomize {
    font-size: 50px;
  height: 120px;
  
  }
}

@media screen and (max-width: 1000px) {
  .textcustomize {
    font-size: 22px;
    height: 70px
  }
} 