
                                
    <div class="card card2"> 
            <div class="h3  d-flex justify-content-center " style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">question contributed</div>
      
            <canvas 
        
            baseChart
            [chartType]="'bar'"
            [datasets]="chartData"
            [labels]="chartLabels" 
            [legend]="false" 
            [colors]="BarColors"                              

            (chartClick)="onChartClick($event)">
        </canvas>
    
        </div>
  
