<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12 alert-message alert-message-info">     
            
                <h4>Welcome Admin.</h4>
                <br>
                    <p>
                            You are now logged into the Admin Page.                
                        <strong>Please Signup with your Credentials</strong>.
                    </p>
            
        </div>
           <div class="col-12 col-lg-5"></div> 
           <div class="col-12 col-lg-2">
                <a [routerLink]="['/register-as-a-learner']" id="btn-login" class="btn btn-primary" >Sign Up</a>
           </div>
           <div class="col-12 col-lg-5"></div>
        
    </div> 
</div>
