/* 
.search-heading {
  float: left;
  width: 100%;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-size: 14px;
  position: relartive;
  z-index: 3;
  margin-top: 30px
}

.search-heading span {
  font-family: 'Libre Baskerville', serif;
  display: block;
  font-size: 14px;
  text-transform: none;
  font-weight: 700
}

.search-heading a {
  color: #fff;
  font-weight: bold;
} */

/* body { */
  /* background: #24C6DC; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #514A9D, #24C6DC); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #514A9D, #24C6DC); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* }

.head {
  float: left;
  width: 100%;
}

.search-box {
  width: 100%; */
  /* margin: 0 auto 40px; */
  /* box-shadow: 10px 13px 0 rgba(0, 0, 0, 0.2); */
/* }

.listing-block {
  background: #fff;
  height: 500px;
  padding-top: 20px;
  overflow-y: scroll;
}

#graphID{
  overflow-y: scroll;
  overflow-x: scroll;
  min-height:  501px; 
}

.slimScrollDiv {
  width: 49% !important;
}

.media {
  background: #fff;
  position: relative;
  margin-bottom: 15px;
}

.media img {
  width: 200px;
  margin: 0;
  height: 136px;
}

.media-body {
  border: 1px solid #bcbcbc;
  border-left: 0;
  height: 136px;
}

.media .price {
  float: left;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  color: #4765AB;
}

.media .price small {
  display: block;
  font-size: 17px;
  color: #232323;
}

.media .stats {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.media .stats span {
  float: left;
  margin-right: 10px;
  font-size: 15px;
}

.media .stats span i {
  margin-right: 7px;
  color: #4765AB;
}

.media .address {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  color: #888;
}

.media .fav-box {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 4px;
  color: #E74C3C;
}

.map-box {
  background-image: url('../../assets/images/graph.png');
  background-size: 448px 500px;
  background-repeat: no-repeat;

} */

/* ???????????????????Saikat???????????????????? */
/* 
.addSkillContainer {
  background-color: white;
  border: 1px solid rgb(190, 202, 209);
  border-radius: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 17px 17px 19px grey;
  display: flex;
}

.searchbox {
  padding-right: 0px;
}

.searchbutton {
  padding-left: 0px;
}

.entry:not(:first-of-type) {
  margin-top: 10px;
}

.fa {
  font-size: 12px;
}

.fa-addskilll {
  font-size: 16px;
}


.newlist {
  list-style: none;
}



.itwillflex {
  display: flex;
  flex-direction: row;
}




#erase {
  position: absolute;
  right: 20px;
  top: 7px;
  border: none;
  height: 25px;
  width: 40px;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 7px;

}

#erase:hover {
  cursor: pointer;
}

#erase1 {
  position: absolute;
  right: 30px;
  top: 26px;
  border: none;
  height: 25px;
  width: 40px;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 0px;

}

#erase1:hover {
  cursor: pointer;
}

.buttonInside {
  position: relative;
  margin-bottom: 10px;
}

.makepointer {
  cursor: pointer;
}

.makecross {
  cursor: not-allowed;
}

.litopic {

  cursor: default;
  position: relative;
  display: inline-block;
  margin: 4px 4px 0 0;
  padding: 7px;
  font-size: 14px;
}

.marginzero {
  margin-bottom: 2px;
}

.aletry {
  color: red;
  margin-left: 5px;
  margin-top: 5px;
} */

/* ???????????????????????????????????? */
/* 
.male1 {
  display: inline-block;
  border: 1px solid #000;
  margin: 0px;
}
.skilledit{
  font-size: 26px;
  color: black;
  cursor: pointer;
}

.card{
    border: none;
    padding:10px; 
}


.card-body,.card-header{
    border: 1px solid rgba(0,0,0,.125);
}

.skilledit{
  font-size: 26px;
  color: black;
  cursor: pointer;

}
.btn {
  padding: 3px 4px !important;
}

.fontBlack{
  color:Black;
}

 */

 a{
  text-decoration: none;
}
.entrytest{
  font-weight:300;
  font-size:16px;
  background-color:blue;
  color:white;
  opacity:0.8;
}
.exittest{
  font-weight:300;
  font-size:16px;
  background-color:green;
  color:white;
  opacity:0.8;
}
.viewskills{ 
  margin:2px;
  
}
.skilltaken{
  font-weight:300;
  font-size:16px;
}
.testdate{
  font-size:13px;
  color:grey;
}
.percent{
  font-weight:600;
  font-size:40px;
  color:grey;
}
.vertical-center {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);

}
.show-result{
  color:grey;
  font-size:15px;
  border:none;
  background-color:#fff;
}
.show-result:hover{
  border:none;
  background-color:#fff;
  box-shadow:none;
}
.show-result:focus{
  border:none;
  background-color:#fff;
  box-shadow:none;
}
.show-result:active{
  border:none;
  box-shadow:none;
  background-color:#fff;
}

.answercards{
  width:100%;
  height:100%;
  border:3px solid white;
  color:white;
  font-size:25px;
  border-radius:.5rem;
  opacity:.7;
}
.answercardsright{
  background-color:green;
  width:100%;
  height:100%;
  border:3px solid white;
  color:white;
  font-size:25px;
  border-radius:.5rem;
  opacity:.7;
}
.answercardswrong{
  background-color:red;
  width:100%;
  height:100%;
  border:3px solid white;
  color:white;
  font-size:25px;
  border-radius:.5rem;
  opacity:.7;
}

.avatar-upload {
  padding-left: 25px;
  position: relative;
  max-width: 205px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 5px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 7px;
  color:#5BC0DE;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: 6px solid   #C8CBD1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.modal-header{
  background-color: rgb(221, 233, 205);
  
}

.modal-content{
  margin-top:95px;
}